body {
    background-color: palegoldenrod;
}

.titlepage {
    font-family: 'Times New Roman', Times, serif;
    color: purple;
    text-align: center;
    font-weight: bold;
}

.hr {
    border: 1px solid navy;
    align-items: center;
    width: 70%;
}

.maintable {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    text-align: center;
}

.menu {
    width: 8em;
    background-color: blue;
    color: palegoldenrod;
}

.context {
    width: 32em;
}

.formtitle {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

.formtable {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: bisque;
}

.language {
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

.menuheight {
    height: 50%;
}